.card-wrap {
    min-width: 22em;
}

.card-meta {
    padding-left: 1em;
}

.aws-btn {

--slider-height-percentage: 60%!important;
--slider-transition-duration: 700ms!important;
--organic-arrow-thickness: 6px!important;
--organic-arrow-border-radius: 0px!important;
--organic-arrow-height: 15px!important;
--organic-arrow-color: #d5d5d5!important;
--control-button-width: 10%!important;
--control-button-height: 25%!important;
--control-button-background: transparent!important;
--control-bullet-color: #fafafa!important;
--control-bullet-active-color: #d5d5d5!important;
--loader-bar-color: #851515!important;
--loader-bar-height: 6px!important;
}

.product-wrap {
    display: flex;
    justify-content: center;
}

.product{
    width: 250px;
  -webkit-box-shadow: 10px 10px 5px -6px rgba(0,3,51,0.04);
  -moz-box-shadow: 10px 10px 5px -6px rgba(0,3,51,0.04);
  box-shadow: 10px 10px 5px -6px rgba(0,3,51,0.04);
  margin-bottom: 2.7rem;
  display: flex;
  flex-flow: column wrap;
  transition: .3s ease all;
}

.product:hover {
  transform: scale(1.015);
}

.card-description-wrap{
    padding-left: 1em!important;
    padding-bottom: 0.5em!important;
    padding-top: 0.5em!important;
}